{% set network = _Network.getNetworkData() %}
{% set placeholder = network.templatePath~'/static/images/placeholder/placeholder.svg' %}

{% if article.articleId > 0 %}
    {% set articleImg = '' %}
    {% if article.featuredMedia | length > 0 %}
        {% set imgWidth = 280 %}
        {% set imgHeight = 150 %}
        {% if containerClass == 'col-full' %}
            {% set imgWidth = 750 %}
            {% set imgHeight = 450 %}
        {% endif %}
        {% if containerClass == 'col-third' %}
            {% set imgWidth = 500 %}
            {% set imgHeight = 350 %}
        {% endif %}
        {% if containerClass == 'col-quarter' %}
            {% set imgWidth = 280 %}
            {% set imgHeight = 220 %}
        {% endif %}
        {% if containerClass == 'col-two-thirds' %}
            {% set imgWidth = 400 %}
            {% set imgHeight = 450 %}
        {% endif %}
        {% set articleImg = _Media.getMediaUrl(article.featuredMedia,imgWidth, imgHeight, {'crop': 'fill', 'gravity': 'faces'} ) %}
    {% endif %}
    {% set promotedClass = (article.isPromoted) ? 'ad_icon' : '' %}
    {% set hasArticleMediaClass = (article.hasMedia == 'TRUE') ? 'withImage__content': 'without__image' %}
    {% set blogClass = 'card--blog_'~article.blog['id'] %}
    <div itemscope itemtype="http://schema.org/NewsArticle"  class="article {{containerClass}}">
        <meta itemprop="url" content="{{article.absoluteUrl}}" />
        <meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="{{article.absoluteUrl}}"/>
        {% if article.featuredMedia['media'] is defined and  article.featuredMedia['media'] | length > 0%}
            <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <meta itemprop="url" content="{{article.featuredMedia['media']['url']}}"/>
                <meta itemprop="width" content="{{article.featuredMedia['media']['width']}}"/>
                <meta itemprop="height" content="{{article.featuredMedia['media']['height']}}"/>
            </div>
        {% endif %}
        {% if article.publisher['url'] is not empty %}
            <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                <meta itemprop="name" content="{{article.publisher['name']}}"/>
                <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                    <meta itemprop="url" content="{{article.publisher['url']}}"/>
                    <meta itemprop="width" content="{{article.publisher['width']}}"/>
                    <meta itemprop="height" content="{{article.publisher['height']}}"/>
                </div>
            </div>
        {% endif %}
        <meta itemprop="datePublished" content="{{article.metaPublishDate}}"/>
        <meta itemprop="dateModified" content="{{article.metaUpdateDate}}"/>
        <a id="Article{{article.articleId}}" href="{{article.url}}" class="card swap card__news {{hasArticleMediaClass}} {{promotedClass}} {{blogClass}}" data-id="{{article.articleId}}" data-position="{{position}}" data-social="0" data-article-image="{{articleImg}}" data-article-text="{{Helper.htmlToText(article.title, -1) | raw | escape('html')}}">
            {% if article.hasMedia == 'TRUE' %}  
              <div class="card-image lazyload" data-original="{{articleImg}}" {% if articleImg is not empty %}style="background-image:url('{{placeholder}}');"{%endif%}></div>
            {% endif %}
            <div class="content-section">
                <div class="title-section">
                    <span>{{article.label}}</span>
                    <div class="card-icon"></div>
                </div>
                {% set articleTitle =  titleTruncateLength is defined ? article.title | truncate(titleTruncateLength) : article.title  %}
                <h1 itemprop="headline" class="heading-section">{{ articleTitle | raw }}</h1>
                <p itemprop="description" class="description">{{article.excerpt | raw}}</p>
                
                {% set publishDate = _AppHelper.getDefaultTimezoneDateTime(article.publishDate) %}
                <div class="caption_bottom" itemprop="author" itemscope itemtype="https://schema.org/Person">
                    <div class="author_name" itemprop="name">{{article.createdBy['displayName']}}</div>
                    <div class="post_date">{{_AppHelper.getDateTimeBasedOnTimezone(publishDate,'SHORT')}}</div>
                    <span class="category_share_icon shareIcons"><i class="fa fa-share-alt"></i></span>
                </div>
            </div>
            {% if article.userHasBlogAccess == '1' %}
            <div class="btn_overlay articleMenu">
                <button title="Hide" data-guid="{{article.guid}}" class="btnhide social-tooltip HideBlogArticle" type="button" data-social="0">
                    <i class="fa fa-eye-slash"></i><span class="hide">Hide</span>
                </button>
                {% if article.userHasEditArticleAccess == '1' %}
                    <button onclick="window.location = '{{article.editUrl}}'; return false;" title="Edit" class="btnhide social-tooltip" type="button">
                        <i class="fa fa-edit"></i><span class="hide">Edit</span>
                    </button>
                {% endif %}
                {% set pinTitle = 'Pin Article' %}
                {% set pinTxt = 'Pin' %}
                {% set pinClass = '' %}
                {% if article.isPinned == 1 %}
                    {% set pinTitle = 'Un-Pin Article' %}
                    {% set pinTxt = 'Un-Pin' %}
                    {% set pinClass = 'selected' %}
                {% endif %}    
                <button data-position="{{position}}" data-social="0" data-id="{{article.articleId}}" title="{{pinTitle}}" class="btnhide social-tooltip PinArticleBtn {{pinClass}}" type="button" data-status="{{article.isPinned}}">
                    <i class="fa fa-thumb-tack"></i><span class="hide">{{pinTxt}}</span>
                </button>
            </div>
            {% endif %}
        </a>
    </div>
{% else %} <!-- Social article -->
    {% set social = article.social %}
    {% set mediaClass = (social.hasMedia == 'TRUE') ? 'withImage__content' : 'without__image' %}
    {% set videoClass = (social.media['type'] == 'video') ? 'video_card' : '' %}
    <div  class="{{ containerClass }}">
        <a itemprop="url" id="Social{{article.socialId}}" href="{{ social.url }}" target="_blank" class="card swap card__{{social.source}} {{mediaClass}} {{videoClass}}" data-id="{{article.socialId}}" data-position="{{position}}" data-social="1" data-article-image="{{social.media['path']}}" data-article-text="{{Helper.htmlToText(social.content, -1) | raw | escape('html')}}">
            {% if social.hasMedia == 'TRUE' %}
                <div class="card-image lazyload" data-original="{{ social.media['path'] }}" {% if social.media['path'] is not empty %}style="background-image:url('{{placeholder}}');"{%endif%}>
                  {% if social.media['type'] == 'video' and social.media['videoUrl'] is not empty %}
                        <div class="play_icon video-player" data-source="{{social.source}}" data-url="{{social.media['videoUrl']}}" data-poster="{{social.media['path']}}"></div>
                    {% endif %}
                </div>
            {% endif %}
            <div class="content-section">
                <div class="title-section">
                    <span>{{social.source}}</span>
                    <div class="card-icon"></div>
                </div>
                <p class="description" id="updateSocial{{article.socialId}}" data-update="0">{{ social.content | raw }}</p>
                {% set socialPublishDate = _AppHelper.getDefaultTimezoneDateTime(social.publishDate) %}
                <div class="caption_bottom">
                    <div class="author_name">{{ (social.source == _SocialFeed.getSocialArticleSourceIsTwitter()) ? '@' : ''}}{{ social.user['name'] | lower }}</div>
                    <div class="post_date">{{_AppHelper.getDateTimeBasedOnTimezone(socialPublishDate,'SHORT')}}</div>
                </div>
            </div>
            {% if article.userHasBlogAccess == '1' %}
                <div class="btn_overlay articleMenu">
                    <button title="Hide" data-guid="{{social.guid}}" class="btnhide social-tooltip HideBlogArticle" type="button" data-social="1">
                        <i class="fa fa-eye-slash"></i><span class="hide">Hide</span>
                    </button>
                    {% set pinTitle = 'Pin Article' %}
                    {% set pinTxt = 'Pin' %}
                    {% set pinClass = '' %}
                    {% if article.isPinned == 1 %}
                        {% set pinTitle = 'Un-Pin Article' %}
                        {% set pinTxt = 'Un-Pin' %}
                        {% set pinClass = 'selected' %}
                    {% endif %}
                    {% if article.userHasEditArticleAccess == '1' %}
                        <button title="Edit" class="btnhide social-tooltip editSocialPost" type="button" data-url="/admin/social-funnel/update-social?guid={{social.blog['guid']}}&socialguid={{social.guid}}">
                        <i class="fa fa-edit"></i><span class="hide">Edit</span>
                        </button>
                    {% endif %}
                    <button data-position="{{position}}" data-social="1" data-id="{{article.socialId}}" title="{{pinTitle}}" class="btnhide social-tooltip PinArticleBtn {{pinClass}}" type="button" data-status="{{article.isPinned}}">
                        <i class="fa fa-thumb-tack"></i><span class="hide">{{pinTxt}}</span>
                    </button>
                </div>
            {% endif %}
        </a>    
    </div> 
{% endif %}