{{ set(this, 'title', _Blog.getBlogTitle()) }}

{{this.registerJs("HomeController.listing();")}}

{% set limit = 20 %}
{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}

<div class="section section--local">
    {% if articles|length > 0 %}
        <div class="section__content">
            <div class="row">
                {{this.render('partials/_single-article.twig', {article: articles[0], 'position': 1, containerClass: 'col-full', cardClass : 'card__news card--rural'}) | raw}}

                {% for i in 1..4 %}
                    {% if articles[i] %}
                        {{this.render('partials/_single-article.twig', {article: articles[i], 'position': (i+1), containerClass: 'col-quarter', cardClass : 'card__news card--local'}) | raw}}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="section__content {{(articles[5] is not defined)? 'hide' : ''}}">
            <div class="row">  
                {% if articles[5] %}
                    {{this.render('partials/_single-article.twig', {article: articles[5], 'position': 6, containerClass: 'col-two-thirds', cardClass : 'card__news card--rural'}) | raw}}
                {% endif %}

                {% for i in 6..8 %}
                    {% if articles[i] %}
                        {{this.render('partials/_single-article.twig', {article: articles[i], 'position': (i+1), containerClass: 'col-third-short', cardClass : 'card__news card--local'}) | raw}}
                    {% endif %}
                {% endfor %}

                {% for i in 9..11 %}
                    {% if articles[i] %}
                        {{this.render('partials/_single-article.twig', {article: articles[i], 'position': (i+1), containerClass: 'col-third', cardClass : 'card__news card--local'}) | raw}}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="section__content {{(articles[12] is not defined)? 'hide' : ''}}">
            <div class="row">
            {% for i in 12..19 %}
                {% if articles[i] %}
                    {{this.render('partials/_single-article.twig', {article: articles[i], 'position': (i+1), containerClass: 'col-quarter', cardClass : 'card__news card--local'}) | raw}}
                {% endif %}
            {% endfor %}
            </div>
        </div>

        <div class="section__content {% if articles|length < limit %}hide{%endif%}">
            <div class="row ajaxArticles" data-existing-nonpinned-count="{{articlesArr.existingNonPinnedCount}}" data-offset="{{limit}}"></div>

            {% if articles|length >= limit %}
            <a class="section__link loadMoreArticles hide" href="javascript:void(0)"><i class="fa fa-arrow-down"></i> Load more</a>
            {% endif %}
        </div>
    {% endif %}
    {% set noDataCls = 'hide' %}
    {% if articles|length == 0 %}
        {% set noDataCls = '' %}
     {% endif %}
     <p class="no-data text-center {{noDataCls}} NoArticlesMsg">No articles found</p>
</div>    
        
