{{ set(this, 'title', "Forgot Password") }}

{{this.registerJs('AuthController.forgotPassword()')}}
<div class="login-page">
    <div class="container">
        <div class="tab-content forget_password">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12" id="login-social">
                    <h3 class="sub-heading">Forgot Password</h3>
                    <p class="helper-text">Please enter your {{_Network.getNetworkTitle()}} username or Email address below to get a reset password link.</p>
                    <div class="WriteAnArticleForm fullWidth">
                        <form id="forgotPasswordForm" class="form-horizontal" action="{{_AppHelper.getForgotPasswordUrl()}}" method="post" autocomplete="off">
                            <input type="hidden" name="_csrf" value="{{_AppHelper.getCsrfToken()}}" /> 
                            {% if errors | length > 0 %}
                                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                    <button class="close" aria-label="Close" data-dismiss="alert" type="button"><span aria-hidden="true">×</span></button>
                                    {% for errorArr in errors %}
                                        {% for error in errorArr %}
                                            {{error}}
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="controls-full">
                                <input type="text" value="{{ form.email }}" class="form-control" name="email" placeholder="{{_Network.getNetworkTitle()}} username or Email Address">
                            </div>
                            <button type="submit" class="btn btn-success forget_btn" name="forget-password-button">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>