{{ set(this, 'title', 'Reset Password') }}

{{this.registerJs('AuthController.resetPassword()')}}
<div class="login-page">
    <div class="container">
        <div class="tab-content forget_password">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12" id="login-social">
                    <h3 class="sub-heading">Reset Password</h3>
                    <div class="WriteAnArticleForm">
                        <form id="resetPasswordForm" class="form-horizontal" action="" method="post">
                            <input type="hidden" name="_csrf" value="{{_AppHelper.getCsrfToken()}}" />
                            {% if errors | length > 0 %}
                                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                    <button class="close" aria-label="Close" data-dismiss="alert" type="button"><span aria-hidden="true">×</span></button>
                                    <ul>
                                        {% for errorArr in errors %}
                                            {% for error in errorArr %}
                                                <li>{{error}}</li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <div class="controls-full">
                                {{_AppForm.input({type:'password', name: 'password', value: '', id: 'password', class: 'form-control', placeholder: 'New Password'}) | raw }}
                            </div>
                            <div class="controls-full">
                                {{_AppForm.input({type:'password', name: 'verifypassword', value: '', class: 'form-control', placeholder: 'Verify Password'}) | raw }}
                            </div>
                            {{_AppForm.button({type:'submit', name: 'resetPassword', class: 'btn btn-success forget_btn', label:'Reset'}) | raw }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
