{{ set(this, 'title', 'User Articles') }}
{% set networkData = _Network.getNetworkData() %}
{% set profileImage =_Media.getMediaUrl(user.media, 500, 500, {crop: 'thumb', gravity: 'face', type:'user'} )%}
{{this.registerJs("UserArticlesController.load()")}}
<div class="userProfilePost_page">
    <section class="container">
        <div class="row">
            <!-- Begin User Profile Sidebar -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div id="userprofile-sidebar">
                   <img src="{{profileImage}}" class="img-responsive">
                   <div class="inner-descr">
                    <h4 class="user-name text-center">{{Html.encode(user.firstname)}} {{Html.encode(user.lastname)}}</h4>
                    {% if _User.isGuest()  and not _Network.isNetworkClosed(networkData)%}
                        <a href="javascript:void(0)" class="button green button-block forceLoginModal"><i class="fa fa-star"></i>Follow</a>
                    {% endif %}
                    {% if not _User.isGuest() and _User.getId() != user.id %}
                        <div class="button-set">
                            {% if not _Network.isNetworkClosed(networkData)%}
                                {% set isUserFollowing = _User.isUserFollowing('user', user.id)  %}
                                <a href="javascript:void(0)" class="button green FollowProfileUser" data-guid="{{user.guid}}" data-status="{% if isUserFollowing == 'TRUE' %}unfollow{% else %}follow{% endif %}"><i class="fa fa-star"></i>{% if isUserFollowing == 'TRUE' %} Unfollow {% else %} Follow {% endif %}</a>
                            {% endif %}
                            <a href="/profile/{{Html.encode(user.username)}}" class="button green" ><i class="fa fa-star"></i>View Profile</a>
                        </div>
                    {% endif %}
                    {% if not _User.isGuest() and _User.getId() == user.id %}
                      <a href="{{_AppHelper.getEditProfileUrl()}}" class="button green button-block"><i class="fa fa-cog"></i>Edit Profile</a>
                    {% endif %}
                    
                    <p>{{Html.decode(user.bio) | raw}}</p>
                    <div class="social-stuffs text-center">
                        <a href="mailto:{{user.email}}"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
                </div>
            </div>
            <!-- //End User Profile Sidebar -->

            <!-- Begin User Posts -->
            <div class="col-md-8 col-sm-8 col-xs-12">
                <header class="sub-header">Articles</header>
                <div id="news-posts">
                    <div class="section__content">
                        <div class="row">
                            <div id="userArticleContainer" data-total-count="{{totalArticles}}" data-offset="0">
                                {% if userArticles | length > 0  %}
                                    {% set i = 0 %}
                                    {% for article in userArticles %}  
                                        {{this.render('//partials/_single-article.twig', {article: article, 'position': (i+1), containerClass: 'col-third', cardClass : 'card__news card--local', 'titleTruncateLength': 70}) | raw}}
                                        {%  set i = i + 1 %}
                                    {% endfor %}
                                {% else %}
                                    <p class="no-data ">No article(s) created yet.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="LoadMoreArticles" class="clearfix" style="clear:both;"></div>
                {% if totalArticles >= limit%}
                <div class="loader">
                    <span><img width="24" height="24" src="{{networkData.templatePath}}/static/images/loading.svg"></span>
                    <span class="text">please wait<span class="one">.</span><span class="two">.</span><span class="three">.</span></span>
                </div>
                {% endif %}
            </div>
            <!-- //End User Posts -->
        </div>
    </section>
</div>
