{% if not  _User.isGuest() %}
{% set user = _User.getUser() %}
<div id="header__menu">
  <div class="profile__menu">
       {% if user.profileMedia.id != '' %}
              {% set profileImg = _Media.getMediaUrl(user.profileMedia, 80, 80, {radius: 'max', gravity: 'face', 'crop': 'thumb', type: 'user'}) %}
          {% else %}
              {% set profileImg = network.templatePath ~ "/static/images/icons/profile.svg" %}
          {% endif %}
    <div class="profile__menu-image" style="background-image: url({{ profileImg }})"></div>
    <div class="profile__menu-content">
      <div class="profile__menu-name">{{ (user.firstname ~" "~ user.lastname) | truncate(15) | title}}</div>
      <div class="profile__menu-email">{{user.email | truncate(23)}}</div>
      <a href="{{_AppHelper.buildUrl('user/my-news')}}" class="profile__menu-button">My News</a>
    </div>
    <ul class="profile__menu-navigation">
        {% if _User.isAdminUser() %}
            <li><a class="profile__menu-navigation-link" href="http://{{network.defaultDomain['domain']}}/admin" target="_blank">Admin</a></li>
        {% endif %}
        <li><a class="profile__menu-navigation-link" href="{{blogUrl}}/profile/{{user.username}}">View Profile</a></li>
        <li><a class="profile__menu-navigation-link" href="http://{{network.defaultDomain['domain']}}/user/edit-profile">Settings</a></li>
        <li><a class="profile__menu-navigation-link" href="{{_AppHelper.getLogoffUrl()}}">Sign Out</a></li>
    </ul>
  </div>
</div>
{% else %}      
<div id="header__menu">
  <div class="profile__menu">
    <ul class="profile__menu-navigation">
      <li><a class="profile__menu-navigation-link" href="{{_AppHelper.getLoginUrl()}}">Sign up/Login</a></li>
    </ul>
  </div>
</div>    
{% endif %}      