{# empty Twig template #}
<footer class="footer">
    <div class="footer__container">
      <div class="footer__info">
        {% set logo = network.templatePath~'/static/images/themeLogo_Footer.svg'%}
        {% set logoUrl = network.networkLogoLinkUrl %}
        {% if network.logoMedia | length > 0 %}
            {% set logo = _Media.getMediaUrl(network.logoMedia, 225, 50, {'crop': 'fit'} )%}
        {% endif %}
        <a href="{{logoUrl}}" class="footer__logo">{% if logo is not empty %}<img src="{{logo}}" />{% endif %}</a>
        <div class="footer__copyright">Copyright {{'now'|date('Y')}}. All rights reserved. Powered By {{network.poweredBy}}</div>
      </div>
        {% set menuItems = blog.blogFooterMenu %}
        {% set halfCounter = (menuItems | length / 2) | round(0, 'ceil') - 1 %}
      <div class="footer__navigation">
        <div class="footer__navigation--col-full">
          <ul class="footer__navigation--col-1">
              {% for i in 0..halfCounter %}
                  {% set menuItem = menuItems[i] %}
            <li class="footer__navigation-item">
                <a href="{{menuItem.link}}" class="footer__navigation-link" {% if menuItem.target != "" %}target="{{menuItem.target}}"{% endif %}>
                    {{ ((menuItem.label is empty) ? ((menuItem.pageTitle is empty)? menuItem.blogTitle : menuItem.pageTitle) : menuItem.label )}}
                </a>
            </li>
            {% endfor %}
          </ul>
          {% if menuItems|length > 1 %}
          <ul class="footer__navigation--col-2">
               {% for i in (halfCounter+1)..(menuItems|length)-1 %}
                  {% set menuItem = menuItems[i] %}
            <li class="footer__navigation-item">
                <a href="{{menuItem.link}}" class="footer__navigation-link" {% if menuItem.target != "" %}target="{{menuItem.target}}"{% endif %}>
                    {{ ((menuItem.label is empty) ? ((menuItem.pageTitle is empty)? menuItem.blogTitle : menuItem.pageTitle) : menuItem.label )}}
                </a>
            </li>
            {% endfor %}              
          </ul>
            {% endif %}
        </div>
        <!--<div class="footer__navigation--col-half">
          <ul class="footer__navigation--col-3">
            <li class="footer__navigation-item"><a href="/" class="footer__navigation-link">Contact us</a></li>
            <li class="footer__navigation-item"><a href="/" class="footer__navigation-link">About Us</a></li>
            <li class="footer__navigation-item"><a href="/" class="footer__navigation-link">Terms & Conditions</a></li>
          </ul>
        </div>-->
      </div>
    </div>
  </footer>
