{% set networkData = _Network.getNetworkData() %}
{% set blogData = _Blog.getBlog() %}
{{ this.beginPage() }}
<!DOCTYPE html>
<html lang="en-US">
    <head itemscope itemtype="http://schema.org/WebSite">
        <meta charset="UTF-8"/>
        <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title itemprop='name'>{{this.title | raw}}</title>
        {{ Html.csrfMetaTags | raw }}
        <!-- Google Tag Manager(script) -->
        {% if networkData.thirdPartyIntegrations['googleTagManager'] | length > 0 %}
            {{networkData.thirdPartyIntegrations['googleTagManager']['script'] | raw}}
        {% endif %}

        {% set favicon = '' %}
        {% if networkData.favMedia | length > 0 %}
            {% set favicon = _Media.getMediaUrl(networkData.favMedia, 80, 80)%}
        {% endif %}
        
        {% if favicon != '' %}
        <link rel="shortcut icon" href="{{favicon}}" />
        <link rel="icon" href="{{favicon}}" sizes="any" type="image/svg+xml" />
        {% endif %}
        
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        {% set primaryFont = networkData['styling']['fonts']['primaryFont'] %}
        {% set secFont = networkData['styling']['fonts']['secondaryFont'] %}

        {% if primaryFont != "" %}
            <link href='https://fonts.googleapis.com/css?family={{primaryFont}}' rel='stylesheet' type='text/css'>
        {% endif %}
        {% if secFont != "" %}
            <link href='https://fonts.googleapis.com/css?family={{secFont}}' rel='stylesheet' type='text/css'>
        {% endif %}
        
        <link rel="alternate" type="application/rss+xml" title="{{_Network.getNetworkTitle()}} -  RSS Feeds" href="http://{{networkData.defaultDomain['domain']}}/feed/rss"/>
        <link rel="canonical" href="http://{{networkData.defaultDomain['domain']}}" itemprop="url">
        
		<!--[if lte IE 8]><script type="text/javascript" src="{{networkData.templatePath}}/static/js/ie/ie.js"></script><![endif]-->
		{% set isPage = 'content_box_page' in _Page.getBodyClass() %}
		
		{% if isPage %}
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="{{_AppHelper.getAssetsStaticPath()}}/dist/vendors/ContentBox/assets/minimalist-basic/content-bootstrap.css" rel="stylesheet" type="text/css" />
                
		<link href="{{_AppHelper.getAssetsStaticPath()}}/dist/vendors/ContentBox/box/box.css" rel="stylesheet" type="text/css" />
		<link href="{{_AppHelper.getAssetsStaticPath()}}/dist/vendors/ContentBox/contentbuilder/contentbuilder.css" rel="stylesheet" type="text/css" />
		<link href="{{_AppHelper.getAssetsStaticPath()}}/dist/vendors/ContentBox/contentbox/contentbox.css" rel="stylesheet" type="text/css" />
		{% endif %}
			
        {% if _AppHelper.getApplicationEnv() == 'PROD'%}
            <link rel="stylesheet" href="{{networkData.templatePath}}/static/deploy/output.min.css?rel=1491570734524" type="text/css" media="all">
        {% else %}			
            <link type="text/css" rel="stylesheet" href="{{networkData.templatePath}}/static/plugins/jquery.fancybox/source/jquery.fancybox.css" />
            <link type="text/css" rel="stylesheet" href="{{networkData.templatePath}}/static/plugins/jquery.noty-2.3.8/demo/animate.css" />
            <link type="text/css" rel="stylesheet" href="{{_AppHelper.getAssetsSDKPath()}}/js/media-player/mediaelementplayer.css" />
            <link rel="stylesheet" href="{{networkData.templatePath}}/static/css/index.css" type="text/css" media="all" />
			<link rel="stylesheet" href="{{networkData.templatePath}}/static/css/contentbox-breakup.css" type="text/css" media="all" />
        {% endif %}
        {% set themeColors = networkData['styling']['colours'] %}
        <style type="text/css">
        {% if primaryFont != "" %}
            body, .body, p {
                font-family: "{{primaryFont | replace({'+': ' '})}}" !important;
            }
        {% endif %}
        {% if secFont != "" %}
            h1, h2, h3, h4, h5, a.header__navigation-link {
                font-family: "{{secFont | replace({'+': ' '})}}" !important;
            }
        {% endif %}
        {% if themeColors.linkColor != "" %}
            a {
                color: {{themeColors.linkColor}} !important;
            }
        {% endif %}
        {% if themeColors.linkHoverColor != "" %}
            a:hover {
                color: {{themeColors.linkHoverColor}} !important;
            }
        {% endif %}
        {% if themeColors.headingColor != "" %}
            h1, h2, h3, h4, h5 {
                color: {{themeColors.headingColor}} !important;
            }
        {% endif %}
        {% if themeColors.navigationColor != "" %}
            .header__search-text, a.header__navigation-link {
                color: {{themeColors.navigationColor}} !important;
            }
        {% endif %}
        {% if themeColors.navigationHoverColor != "" %}
            a.header__navigation-link:hover {
                color: {{themeColors.navigationHoverColor}} !important;
            }
        {% endif %}
        {% if themeColors.navigationActiveColor != "" %}
            a.header__navigation-link.header__navigation-selected {
                color: {{themeColors.navigationActiveColor}} !important;
            }
        {% endif %}
        {% if themeColors.navigationBgColor != "" %}
        .header__navigation {
            background-color: {{themeColors.navigationBgColor}} !important;
        }
        {% endif %}
        {% if themeColors.headerBgColor != "" %}
        .header__heading {
            background-color: {{themeColors.headerBgColor}} !important;
        }
        {% endif %}
        {% if themeColors.footerBgColor != "" %}
        .footer {
            background-color: {{themeColors.footerBgColor}} !important;
        }
        {% endif %}
        {% if themeColors.pageBgColor != "" %}
        .body, .body > .section {
            background-color: {{themeColors.pageBgColor}} !important;
        }
        .sub_header {
            background-color: {{themeColors.pageBgColor}} !important;
        }
        {% endif %}

        {% set customCss = networkData['styling']['customStyleSheet'] %}
        {% if customCss != "" %}
                {{customCss | raw }}
        {% endif %}
        </style>

        {% if blogData.settings['GoogleAnalyticsID'] is  defined  and  blogData.settings['GoogleAnalyticsID'] is not empty %}
            <!-- Google Analytics -->
            <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', '{{blogData.settings['GoogleAnalyticsID']}}', 'auto');
            ga('send', 'pageview');
            </script>
            <!-- End Google Analytics -->
        {% endif %}
        
        {% set blogList = _Blog.getBlogList() %}

    {% if blogList | length > 0 %}
    <style type="text/css">
        {% for blog in blogList %}
            {% if blog.featuredColor is not empty %}
                {% set blogClass = 'card--blog_'~blog.id %}
                .card.{{blogClass | lower}} .title-section span {
                    color: {{blog.featuredColor}} !important;
                }
                .card.{{blogClass | lower}} .caption_bottom .author_name {
                    color: {{blog.featuredColor}} !important;
                }
            {% endif %}
        {% endfor%}
    </style>
     {% endif %}

        {{ this.head() }}
    </head>
    <body class="body {{_Page.getBodyClass()}}">
        {{ this.beginBody() }}

        <!-- Google Tag Manager(noscript) -->
        {% if networkData.thirdPartyIntegrations['googleTagManager'] | length > 0 %}
            {{networkData.thirdPartyIntegrations['googleTagManager']['noscript'] | raw}}
        {% endif %}

        <header class="header">
            <div class="header__heading">
                <a href="javascript:void(0)" id="header-responsive" class="header__heading-link header__heading-link--responsive"></a>

                {% set profileImage = ''%}
                {% if not _User.isGuest()%}
                    {% set user = _User.getUser()%}
                    {% if user.profileMedia | length > 0 and user.profileMedia.id != '' %}
                        {% set profileImage = _Media.getMediaUrl(user.profileMedia, 150, 150, {radius: 'max', gravity: 'face', 'crop': 'thumb'})%}
                    {% endif %}
                {% endif %}

                <div class="header__heading-container">
                    <div class="header__heading--left">
                        {% set logo = networkData.templatePath~'/static/images/themeLogo.svg'%}
                        {% set logoUrl = networkData.networkLogoLinkUrl %}
                        {% if networkData.logoMedia | length > 0 %}
                            {% set logo = _Media.getMediaUrl(networkData.logoMedia, 225, 50, {'crop': 'fit'} )%}
                        {% endif %}
                        <a class="header__heading-logo" href="{{ logoUrl }}">{% if logo is not empty %}<img src="{{logo}}" />{% endif %}</a>
                        
                    </div>
                    <div class="header__heading--right">
                       <a href="javascript:void(0)" class="header__heading-link" id="login">Sign In</a>
                    </div>
                    <a href="javscript:void(0)" class="header__heading-link header__heading-link--profile {% if _User.isGuest()%} user__login {% endif %}" id="profile"
                    {% if profileImage != ''%} style="background-image:url({{profileImage}})" {% endif %}
                    {% if _User.isGuest()%} style="background-image: none;" {% endif %}>
                        {% if _User.isGuest()%}
                            {{ not _Network.isNetworkClosed(network) ? 'Login' : 'Signup / Login' }}
                        {% endif %}
                    </a>
                    {{ this.render('partials/_profile.twig', {network : networkData}) | raw }}
                </div>
            </div>
            {{ this.render('partials/_header_navigation.twig', {blog : blogData, homeUrl :  networkData.defaultBlogUrl}) | raw }}
            {{ this.render('partials/_sidebar_navigation.twig', {blog : blogData, homeUrl :  networkData.defaultBlogUrl}) | raw }}
        </header>

        {{ content | raw}}

        {{ this.render('partials/footer.twig', {network : networkData, blog: blogData}) | raw }}

        {{ this.render('partials/_javascript.twig') | raw }}

        <div class="SwappingHelper" style="display:none">
            <div style="width: 270px; height: 105px; padding: 3px; background-color: #FFF; max-width: 270px; max-height: 105px; overflow: hidden; z-index: 999 !important;">
                <img class="article-image" src="{{networkData.placeHolder100x100}}" style="width:97px; height: 97px; float: left;" />
                <p class="article-text" style="width: 165px; float: left; padding-left: 3px;color: #394659;font-size: 14px; font-family: Droid Serif,serif; line-height: 20px; margin-top:0px;">Dummy text  </p>
            </div>
        </div>
        {{ this.render('../partials/social-share.twig') | raw }}

        {{ this.endBody() }}
    </body>
    {{ this.endPage() }}
</html>
